# Virtual Environment
venv/

# Bytecode files
__pycache__/
*.pyc
*.pyo

# Flask specific
instance/
*.db

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# PyCharm-specific
*.iml
